h1
{
    font-weight: bold;
    vertical-align: text-bottom;
    font-size: 72px;
}

@media (max-width:767px)
{
    h1
    {
        font-size: 60px;
        white-space: initial;
        text-align: center;
    }
}

#hero {
    padding-top: 100px;
    padding-bottom: 100px;
    color: rgb(240,240,240);
    height: 500px;
    margin-bottom: -100px;
    padding: 70px 0;
    clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
    -webkit-clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
    /* border-bottom: 100px solid red; */
    /* border-left: 50px solid transparent; */
    background: -moz-linear-gradient(left, rgba(15,138,148,1) 0%, #b9f5b7 100%);
    background: -webkit-linear-gradient(left, rgba(15,138,148,1) 0%,#b9f5b7 100%);
    background: linear-gradient(to right, rgba(15,138,148,1) 0%,#b9f5b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f8a94', endColorstr='#b9f5b7',GradientType=1 )
}

@media (max-width:767px)
{
    #hero
    {
        height: 700px;
        margin-bottom: -140px;
        padding-top: 40px;
        text-align: center;
    }
}

h1 img
{
    vertical-align: baseline;
}

h2
{
    font-weight: normal;
}

section {
  /*background-color: white;*/
}
section>div>h2
{
    text-align: center;
    font-weight: 300;
    font-family: Source Sans Pro;
    font-size: 48px;
    padding-bottom: 50px;
    color: #60C694;
    text-transform: uppercase;
}

.layerjs-center img{
  vertical-align: baseline;
}
.layerjs-center {
  margin-top:50px;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

body {
    font-size: 18px;
    box-sizing: border-box;
}

.container
{
    padding: 30px;
}

#herotext
{
    font-weight: 300;
}

.grey
{
    background-color: #eee;
}

.howto-step
{
    margin-bottom: 50px;
}

.howto-step-img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 27px;
}

.whitebox
{
    background-color: white;
    margin-bottom: 30px;
    padding: 15px;
}

.sample-header
{
    background-color: #60C694;
    margin: 0px;
    padding: 10px;
}

.whitebox .sample-header
{
    margin: -15px;
    margin-bottom: 0px;
}

.whitebox a
{
    position: absolute;
    bottom: 50px;
    right: 40px;
    z-index: 100;
}

pre
{
    background-color: inherit;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.shadow-down
{
    position: absolute;
    width: 100%;
    height: 0px;
    box-shadow: 0px 0px 10px 1px black;
    -webkit-clip-path: polygon(0px 0px,0px 20px, 100% 20px, 100% 0px);
    -moz-clip-path: polygon(0px 0px,0px 20px, 100% 20px, 100% 0px);
    clip-path: polygon(0px 0px,0px 20px, 100% 20px, 100% 0px);
}

.shadow-up
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: px;
    box-shadow: 0px 0px 10px 1px black;
    -webkit-clip-path: polygon(0px 0px,0px -20px, 100% -20px, 100% 0px);
    -moz-clip-path: polygon(0px 0px,0px -20px, 100% -20px, 100% 0px);
    clip-path: polygon(0px 0px,0px -20px, 100% -20px, 100% 0px);
}

.lines
{
    background-color: #60C694;
    text-align: right;
}

.inset
{
    overflow: hidden;
    background-color: white;
}

.inset-box
{
    position: relative;
    z-index: 10;
    height: 0px;
    width: 100%;
    box-shadow: 0px 0px 10px 1px black;
}

.btn-key
{
    background-color: #60C694;
}

.btn-key:hover
{
    background-color: #359364;
}

.full_cta {
  text-align: center;
  padding: 30px;
}
.full_cta .btn {
  font-size: 22px;
  color: black;
}

[data-annotate] pre
{
    padding: 0px;
    font-size: 11px;
    white-space: pre-wrap;
}

[data-annotate] .anno-code pre:nth-child(even)
{
    background-color: #f8f8f8;
}

[data-annotate]>div
{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}

[data-annotate] div, [data-annotate] pre, [data-annotate] code, [data-annotate] span
{
    font-size: 11px;
}

.example-headline
{
    padding-bottom: 20px;
}

.example-container:nth-child(4n+2)
{
    background-color: #f8f8f8;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    font-family: source sans pro, texgyreheros, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[lj-type="frame"], [data-lj-type="frame"]
{
/*    width: 100%;*/
    z-index: 0;
}

nav img
{
    display: inline-block;
    vertical-align: baseline;
}

nav
{
    background-color: white;
    line-height: 70px;
    box-shadow: 0px 0px 10px 0px black;
}

nav a
{
    color: black;
    text-decoration: none;
}

nav a:hover
{
}

nav h1
{
    margin: 0px;
    padding: 10px;
}

nav h1, nav h1 *
{
    font-size: 40px;
}

nav>.nav-items>*
{
    display: inline-block;
    margin-right: 10px;
}

nav form .form-control
{
    display: inline-block;
    width: 200px;
}

@media (max-width: 767px) {
  nav form .form-control
  {
      width: 120px;
  }

}
@media (max-width: 340px) {
  nav form .form-control
  {
      width: 80px;
  }

}
.index-menu {
  font-size: 32px;
  position: relative;
  top: 8px;
  margin-top: 15px;
  margin-right: 35px;
  color: white;
  float: right;
  z-index:10;
}

.index-menu:hover, .index-menu:active, .index-menu:visited, .index-menu:focus {
  text-decoration: none;
  color: white
}

nav .menu-action {
  font-size: 32px;
  position: relative;
  top: 8px;
  margin-left: 15px;
  margin-right: 25px;
}

nav .menu-action:hover, nav .menu-action:active, nav .menu-action:visited, nav .menu-action:focus {
  text-decoration: none;
  color: black
}

#sidemenu {
  width:320px;
  display: none;
  min-height: 100vh;
}
#sidemenu .menu-logo {
  color: black
}
#sidemenu .menu-close {
  float: right;
  margin: 20px;
}
#sidemenu ul {
  padding-left: 0px;
}
#sidemenu li,#sidemenu li a {
  display: block;
  font-weight: 300;
  font-family: Source Sans Pro;
  font-size: 36px;
  color: #60C694;
  text-transform: uppercase;
  padding-left:10px;
  margin:0px
}

#menubackdrop #backdrop {
  display:block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50,50,50,0.5);
  display: none;
}
.column-icon
{
    display: block;
    margin: auto;
    width: 120px;
    padding: 10px;
}

footer ul
{
    list-style: none;
}

footer a
{
    text-decoration: none;
    color: inherit;
}

footer a:hover
{
    text-decoration: none;
}

a:hover
{
    color: inherit;
}

footer
{
    background-color: #58585A;
    color: #eee;
    padding: 30px;
}

footer *
{
    font-size: 14px;
}

/*[lj-name="contentlayer"] footer {
  visibility: hidden;
  pointer-events: none;
}*/

.social-share img
{
    width: 25px;
    margin-top: 5px;
    margin-right: 5px;
}

.github-btn
{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 190px;
    font-size: 20px;
}

[lj-name="menulayer"]
{
    width: 100% !important;
}
[lj-name="menuframe"]
{
    display: none; /* only initally; will be overwritten by layerJS */
}

.trybox
{
    border: 3px solid #60C694;
    padding: 0px !important;
    margin: 0px 20px;
}

.jobs-cta
{
    width: 100%;
}

.jobs-cta a
{
    width: 300px;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  margin-bottom: 30px;
}
#feedback_text {
  margin-bottom: 15px;
}
#help {
  display: none; /* initially only, will be overriden by layerJS */
  background-color: #C66094;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 5px 0px gray;
  width:30px;
  height: 100px;
  line-height:30px;
}
#help a{
  text-decoration: none;
  color: white;
  display: block;
  width:100px;
  position:relative;
  top: 100px;
  text-align: center;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
#helpopen {
  width:200px;
  height:100px;
}

figure.drawing {
  margin: auto;
  font-size: 18px;
  color: #ddd;
  position:relative;
}
figure.drawing>* {
  position: absolute;
}
figure.drawing .dframe {
  border: 2px solid rgba(0, 250, 200, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(125, 125, 125, 0.5);
  padding: 25px;
}

figure.drawing .dstage {
  border: 2px dashed rgba(250, 0, 250, 0.5);
}

.faqbox
{
    background-color: #eee;
    padding: 15px;
}

.faq-header
{
    background-color: #60C694;
    margin: 0px;
    padding: 10px;
}
.faq-header:hover,.faq-header:focus,.faq-header:visited,.faq-header:active{
  color: inherit;
}

.faqbox .faq-header
{
    margin: -15px;
    margin-bottom: 0px;
    color:black;
    font-size: 28px;
}
.faqbox p{
  margin-top:10px;
}

#lcontent > div > [lj-type="frame"], #lcontent > [lj-type="frame"]{
  width: 100vw;
}

#typeformframe {
  margin: 50px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px #888;
  display: none;
}
@media (max-width: 700px) {
    #typeformframe {
        margin: 0px;
        border-radius: 0px;
    }          
}
#typeformframe .menu-close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 20px;
  z-index: 100;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-top:10px;
  padding-bottom: 10px;
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
.highlight pre code, .highlight pre code * {
  font-size: 14px;
}
.highlight {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px rgba(125,125,125,0.5);
  margin-top:30px;
  margin-bottom:30px;
}
.highlight:first-child {
  margin-top:0px;
}

code {
  background-color: #eee;

}

.benefits .col {
    text-align:center;
}
.benefits .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    stroke-width: 0;
    stroke: #60C694;
    fill: #60C694;
  }

.signup {
    background: -moz-linear-gradient(left, rgba(15,138,148,1) 0%, #b9f5b7 100%);
    background: -webkit-linear-gradient(left, rgba(15,138,148,1) 0%,#b9f5b7 100%);
    background: linear-gradient(to right, rgba(15,138,148,1) 0%,#b9f5b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f8a94', endColorstr='#b9f5b7',GradientType=1 );
    color: #eee;
    text-shadow: 0px 0px 5px rgba(15,138,148,1);

}
section.signup h2 {
    color: white;
}
.signup strong {
   /* color: #C66094;*/
   color: white;
}
.signup table{
    margin: -5px;
    width: 100%;
}
.signup .row .row div {
    padding: 5px;
}
.signup .row .row button {
    width: 100%;
    background-color: #C66094
}