<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}layerJS: build animated layered web user interfaces in pure HTML{% endif %}" />

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}layerJS: build animated layered web user interfaces in pure HTML{% endif %}" />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="layerJS">
  <meta itemprop="description" content="layerJS: build animated layered web user interfaces in pure HTML">
  <meta itemprop="image" content="{{ site.url }}/img/layers_black.jpg">
  
  
  <!-- Open Graph data -->
  <meta property="og:title" content="layerJS" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}/img/layers_black.jpg" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}layerJS: build animated layered web user interfaces in pure HTML{% endif %}" />  
  <meta name="google-site-verification" content="Mt0kPMXG2VgggwYWUEHRMfxl-aHkIQc_TWZOtHp4Wg0" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <title>{% if page.title %}{{page.title}}{% else %}layerJS{% endif %}</title>
  <script>
    (function() {
        var cr_req = ['layerJS', 'jQuery'];
        var cr_stat = false;
        var cr_cb = [];
        var checkReq = function() {
          cr_stat = true;
          for (var i = 0; i < cr_req.length; i++) {
            if (!window.hasOwnProperty(cr_req[i])) {
              cr_stat = false;
            }
          }
          if (cr_stat) {
            run();
          } else {
            setTimeout(checkReq, 100);
          }
        };
        var run = function() {
          while (cr_cb.length) {
            (cr_cb.shift())();
          }
        };
        window.addEventListener('DOMContentLoaded', function() {
          checkReq();
        });
        window.deferReady = function(cb) {
          cr_cb.push(cb);
          if (cr_stat) run();
        };
    })();
  </script>
  <script
  src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
  data-apikey="7ade43a65741ed827e5d137c59401484"></script>
  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="js/jquery.min.js" defer></script>
  <!--<script src="js/layerjs.js" defer></script>-->
  <script src="https://cdn.layerjs.org/libs/layerjs/layerjs-0.6.0.min.js" defer></script>
  <link href="https://cdn.layerjs.org/libs/layerjs/layerjs-0.6.0.css" type="text/css" rel="stylesheet" />
  <link href="font/font.css" type="text/css" rel="stylesheet" />
  <link href="css/icomoon-style.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="css/hljs.css" />
  <!-- <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'layerjs/layerjs'
    };
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script> -->
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5P4JV6H');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body lj-type="stage" lj-router="filerouter">
  {% if page.background %}
  <div lj-type="layer" lj-native-scroll="false" id="lbackground">
    {% include {{ page.background }} %}
  </div>
  {% endif %}
  <div lj-type="layer" id="lcontent">
    <div lj-type="frame" lj-name="{{ page.frame }}" lj-fit-to="responsive-width">
      {{ content }} {% include _blocks/footer.html %}
    </div>
  </div>
  {% include _blocks/helplayer.html %}
  <div lj-type="layer" id="menubackdrop" lj-native-scroll="false" lj-default-frame="!none" lj-transition="fade" lj-no-url="true">
    <a href="#menubackdrop.!none;lmodal.!none;menuframe" lj-fit-to="responsive-width" lj-type="frame" id="backdrop"></a>
  </div>
  <div lj-type="layer" lj-name="menulayer" lj-native-scroll="false" lj-default-frame="{% if page.frame=='home' %}!none{% else %}menuframe{% endif %}" lj-no-url="true">
    {% include /_blocks/menu.html %} {% include /_blocks/sidemenu.html %}
  </div>
  <div lj-type="layer" id="lmodal" lj-default-frame="!none" lj-native-scroll="false" lj-no-url="true">
    {% include _blocks/popup_typeform.html %} {% if page.modals %} {% include {{ page.modals }} %} {% endif %}
  </div>
  {% include _blocks/scripts.html %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P4JV6H" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>
