<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  <title>{{ page.title }}</title>
  <!--<script
  src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
  data-apikey="7ade43a65741ed827e5d137c59401484"></script>-->
  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="js/jquery.min.js"></script>
  <!--<script src="js/layerjs.js"></script>-->
  <script src="https://cdn.layerjs.org/libs/layerjs/layerjs-0.5.2.js"></script>
  <link href="https://cdn.layerjs.org/libs/layerjs/layerjs-0.5.2.css" type="text/css" rel="stylesheet" />
  <link href="font/font.css" type="text/css" rel="stylesheet" />
  <link href="css/icomoon-style.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="css/hljs.css" />
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5P4JV6H');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body lj-type="stage" lj-router="filerouter">
  {% if page.background %}
  <div lj-type="layer" lj-native-scroll="false" id="lbackground">
    {% include {{ page.background }} %}
  </div>
  {% endif %}
  <div lj-type="layer" id="lcontent">
    <div lj-type="frame" lj-name="{{ page.title }}" lj-fit-to="responsive-width">
    {{ content }}
    {% include _blocks/footer.html %}
    </div>
  </div>
  {% include _blocks/helplayer.html %}
  <div lj-type="layer" id="menubackdrop" lj-native-scroll="false" lj-default-frame="!none" lj-transition="fade" lj-no-url="true">
    <a href="#menubackdrop.!none;menuframe" lj-type="frame" id="backdrop"></a>
  </div>
  <div lj-type="layer" lj-name="menulayer" lj-native-scroll="false" lj-default-frame="{% if page.title=="home" %}!none{% else %}menuframe{% endif %}" lj-no-url="true">
    {% include /_blocks/menu.html %}
    {% include /_blocks/sidemenu.html %}
    </nav>
  </div>
  {% if page.modals %}
  <div lj-type="layer" id="lmodal" lj-default-frame="!none" lj-native-scroll="false">
    {% include {{ page.modals }} %}
  </div>
  {% endif %}
  {% include _blocks/scripts.html %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P4JV6H" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>
